.form {
  display: flex;
  align-content: center;
}

.searchInput {
  margin: 10px
}

.searchButton {
  margin: 10px;
}

.checkBox {
  margin-left: 10px;
  margin-right: 30px;
}

.checkBoxLabels {
  color: white;
}